<!DOCTYPE html>
<html lang="@@lang">
<head>
    @@include('component.head.html', {"title": "@@title"})
    <script>
        var fv = {};
    </script>
</head>
<body>

    <div class="display">
        <div class="display__heading">
            <div class="display__heading__logo">
                <img src="img/logo.svg" alt="">
            </div>
            <div class="display__heading__contacts">
                <div class="display__heading__contacts__phone">+7 (4862) 44-51-15</div>
                <div class="display__heading__contacts__email">mail@orion-print.org</div>
            </div>
        </div>
        <div class="display__main">
            <div class="display__main__inner">
                @@include('../screens/screen_hello.html', {"title": "@@title"})
                @@include('../screens/@@form.html')
                @@include('../screens/screen_finish.html')
            </div>
        </div>
    </div>

    @@include('component.scripts.html')
</body>
</html>