.screen {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 47px rgba(19, 44, 129, 0.43);
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    &.is--s {
        // display: none;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &.is--circle {
        background-image: url(../../img/eclipse_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
    &.is--link {
        position: relative;
        .screen-link {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 40px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            a {
                font-size: 18px;
                color: #5A5A5A;
                transition: .25s all ease;
                &:hover {
                    color: #132c81;
                }
            }
        }
    }
    &.is--parts {
        .part1,
        .part2 {
            position: absolute;
        }
        .part1 {
            bottom: 115px;
            left: -70px;
        }
        .part2 {
            top: -50px;
            right: -150px;
        }
    }
    &__hello {
        text-align: center;
        position: relative;
        z-index: 10;
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 127%;
            text-transform: uppercase;
            color: #132C81;
            margin-bottom: 30px;
        }
        &__sub {
            font-size: 24px;
            color: #5A5A5A;
            margin-bottom: 55px;
        }
    }
    &__finish {
        text-align: center;
        position: relative;
        z-index: 10;
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-weight: 600;
            font-size: 48px;
            line-height: 127%;
            text-transform: uppercase;
            color: #132C81;
            margin-bottom: 10px;
        }
        &__sub {
            font-size: 36px;
            color: #5A5A5A;
            margin-bottom: 55px;
        }
        &__form {
            width: 100%;
            form {
                display: flex;
                justify-content: center;
            }
            input[type="text"] {
                width: 100%;
            }
            .is--field {
                margin-right: 30px;
                max-width: 310px;
                width: 100%;
                position: relative;
                .parsley-errors-list.filled {
                    position: absolute;
                    top: calc(100% + 10px);
                    padding: 5px 10px;
                    color: #fff;
                    background: #8cbd24;
                    border-radius: 45px;
                    z-index: 1;
                }
            }
        }
    }
    &__fields {
        width: 100%;
    }
}

.field {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    &__inner {
        background: #F8F8F8;
        padding: 20px 30px;
        height: 100%;
    }
    &__heading {
        font-weight: 600;
        font-size: 24px;
        color: #132C81;
        margin-bottom: 25px;
    }
    &__inputs {
        display: flex;
        flex-wrap: wrap;
        &.is--w50 {
            .input-checkbox {
                width: 100%;
                max-width: 50%;
            }
        }
    }
    &.is--w50 {
        max-width: 50%;
    }
    &.is--w100 {
        max-width: 100%;
    }
    &__row {
        display: flex;
        margin-bottom: 45px;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
    }
    &__submit {
        padding-top: 50px;
        text-align: center;
    }
}

.input {
    &-checkbox {
        &:last-child {
            & > label {
                margin-right: 0;
            }
        }
        input {
            display: none;
        }
        label {
            display: inline-block;
            margin: 0 15px 15px 0;
            cursor: pointer;
            border-radius: 47px;
            border: 2px solid #E6E9F2;
            color: #5A5A5A;
            position: relative;
            background: #fff;
        }
        input:checked {
            & + label {
                background: #8CBD24;
                border-color: #8CBD24;
                color: #fff;
                svg {
                    margin-right: 10px;
                    [fill] {
                        fill: #fff;
                    }
                    [stroke] {
                        stroke: #fff !important;
                    }
                }
            }
        }
        &.is--w50 {
            max-width: 50%;
            width: 100%;
        }
        &.is--dot {
            label {
                padding: 20px 15px 20px 35px;
                &::after {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border: 1px solid #132C81;
                    position: absolute;
                    display: block;
                    border-radius: 100%;
                    left: 15px;
                    top: 50%;
                    margin-top: -3px;
                }
            }
            input:checked {
                & + label {
                    &::after {
                        box-shadow: 0px 0px 8px #FFFFFF;
                        background: #FFFFFF;
                        border-color: #fff;
                    }
                }
            }
        }
        &.is--image {
            label {
                display: flex;
                align-items: center;
                padding: 8px 20px 8px 8px;
                span.is--image {
                    display: inline-block;
                    margin-right: 6px;
                }
            }
            &.is--cc {
                label {
                    padding: 16px 25px;
                }
                &:nth-child(2) {
                    label {
                        margin-right: 0;
                    }
                }
            }
        }
        &.is--icon {
            label {
                display: flex;
                align-items: center;
                padding: 16px 25px;
                svg {
                    margin-right: 10px;
                    [fill] {
                        fill: #000;
                    }
                    [stroke] {
                        stroke: #000 !important;
                    }
                }
            }
        }
    }
    &-slider {
        width: 100%;
        display: flex;
        align-items: center;
        &__left {
            max-width: 790px;
            width: 100%;
            margin-right: 60px;
            ul {
                display: flex;
                justify-content: space-between;
                padding-top: 30px;
                li {
                    font-size: 14px;
                    color: #5A5A5A;
                }
            }
            .ui-slider {
                height: 2px;
                border: none !important;
                background: #132C81;
                &-handle {
                    border: 0 !important;
                    width: 32px !important;
                    height: 32px !important;
                    background: url(../../img/slider_dot.svg) !important;
                    box-shadow: 0px 0px 8px #8CBD24;
                    border-radius: 100% !important;
                    cursor: pointer;
                    top: -16px !important;
                }
                &-range {
                    background: #8CBD24;
                }
            }
        }
        &__right {
            max-width: 255px;
            width: 100%;
            margin-left: auto;
            input {
                width: 100%;
                font-weight: 600;
                font-size: 24px;
                color: #8CBE23;
                text-align: center;
                padding: 15px 30px;
                border: 2px solid #E6E9F2;
                border-radius: 33px;
                &::placeholder {
                    color: #8CBE23;
                }
            }
        }
    }
    &-text {
        border: 2px solid #E6E9F2;
        background: #fff;
        border-radius: 65px;
        color: #5A5A5A;
        padding: 20px 40px;
        &::placeholder {
            color: #5A5A5A;
        }
        &:focus {
            border-color: #8CBE23;
        }
    }
}

@media (max-width: 1300px) {
    .part1,
    .part2 {
        display: none;
    }
}

@media (max-width: 1200px) {
    .screen {
        &.is--link {
            .screen-link {
                padding-top: 30px;
                position: static;
            }
        }
        &__hello {
            &__title {
                font-size: 36px;
            }
        }
    }
    .input {
        &-checkbox {
            font-size: 14px;
            &.is--w50 {
                max-width: 100%;
            }
            label {
                margin-right: 15px !important;
            }
        }
    }
    .field {
        &__inputs {
            &.is--w50 {
                .input-checkbox {
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .input {
        &-checkbox {
            &.is--image {
                label {
                    span {
                        &.is--image {
                            max-width: 25px;
                        }
                    }
                }
            }
            &.is--icon {
                label {
                    svg {
                        max-width: 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .screen {
        &.is--s {
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .screen {
        padding-left: 30px;
        padding-right: 30px;
        &__hello,
        &__finish {
            &__title {
                font-size: 30px;
                br {
                    display: none;
                }
            }
        }
        &__finish {
            &__sub {
                font-size: 24px;
            }
            &__form {
                form {
                    flex-wrap: wrap;
                }
                button {
                    max-width: 310px;
                    width: 100%;
                }
                .is--field {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .field {
        max-width: 100% !important;
        margin-bottom: 20px;
        &__row {
            margin-bottom: 0;
        }
        &__inner {
            background: none;
            padding: 0;
        }
        &__heading {
            font-size: 18px;
        }
        &__submit {
            padding-top: 30px;
        }
    }
    .input {
        &-checkbox {
            label {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                padding-right: 15px !important;
                margin-right: 15px !important;
            }
        }
        &-slider {
            flex-wrap: wrap;
            &__left {
                margin-right: 0;
                margin-bottom: 15px;
                ul {
                    padding-top: 20px;
                }
            }
            &__right {
                input {
                    font-size: 14px;
                    padding: 10px 20px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .screen  {
        &__hello,
        &__finish {
            &__title {
                font-size: 20px;
            }
            &__sub {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
    };
}